{
  "presets": ["@babel/env", "@babel/preset-react"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "test": "./test",
          "underscore": "lodash",
          "data": "./data",
          "data/cakephp": "./data/cakephp"
        }
      }
    ]
  ]
}
