@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;400&family=Titillium+Web:wght@400;600&display=swap");

.ql-editor,
.ql-editor *,
.ql-toolbar * {
  font-family: "Be Vietnam Pro", sans-serif;
}
.ql-toolbar {
  padding: 11px !important;
  background-color: rgba(0, 0, 0, 0.04);
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  margin-bottom: 0 !important;
}
.ql-toolbar.ql-snow .ql-picker-label.ql-active {
  color: black !important;
  font-weight: bold;
}
.ql-picker {
  z-index: 1000;
}
